name: Publish

on:
  push:
    branches:
    - test-publish

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: github
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          registry-url: 'https://registry.npmjs.org'
      - name: Install deps
        run: pnpm install --prefer-offline
      - name: Build
        run: pnpm build
      - name: Publish
        run: pnpm publish --access public --no-git-checks --tag not-real
